img.mon-compte {
    width: 79px;
}


.item-nav {
    text-align: center;
}

img.navbar-brand {
    margin-left: 35px;
}

.bg-black {
    background-color: #202020;
}

nav.navbar.navbar-toggleable-md.navbar-light.bg-faded {
    padding: 35px;
    color: white;
}

a.btn {
    padding: 13px 20px;
    margin-left: 40px;
    margin-top: 26px;

}

.btn-outline-orange {
    color: #e89c18!important;
    border-color: #e89c18;
}

img.logo {
    height: 30px;
}

.item-nav a {
    color: white;
}

ul.second-nav {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    margin: 0px;
}

.second-nav li.nav-item {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.second-nav li.nav-item a{
    color: white;
}

.bg-gris {
    background-color: #2e2e2e;
}

.element-form-index {
    display: inline-block;
    margin: 0px 20px;
}

form.form-index {
    text-align: center;
}

input.element-form-index {
    border: none;
    padding: 15px;
    font-size: 0.9em;
    border-radius: 10px;
    width: 300px;
    font-weight: 100;
}

a.btn-search {
    color: white;
    font-weight: 100;
    background: #585858;
    padding: 15px;
    font-size: 0.9em;
    border-radius: 10px;
}

.jom-index{
    height: 400px;
    padding-top: 156px;
    margin-bottom: 0;


}

#jom-index{
    background-image: url(../img/bg-jom.png);
    background-position: center;
    background-size: cover;
}

.section {
    padding: 65px;
}

.section p.h2 {
    text-align: center;
    font-weight: 400;
}

.item-service {
    display: inline-block;
    width: 130px;
    height: 130px;
    margin: 0px 50px;
    background-color: white;
}

div.sec-header{
    text-align: center;
    width: 80%;
    margin: auto;
    border: 1px solid #cacaca;
    padding: 20px;
    font-weight: 400;

}

.sec-item {
    width: 80%;
    margin: auto;
    border: 1px solid #cacaca;
    padding: 20px;
    font-size: 1.3em;
    position: relative;
}

.sec-item p {
    margin-bottom: 0;
}


p.sec-plus {
    position: absolute;
    right: 25px;
    top: 11px;
    font-weight: bold;
    font-size: 1.4em;
    color: #bbbbbb;
}

.index-artiste p.h4 {
    margin-top: 23px;
}

.index-artiste img {
    width: 130px;
    margin: auto;
    display: block;
}


.section.index-artiste.container {
    border-top: 2px solid;
}


.index-artiste .row {
    padding: 40px 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 30px 0px;
    border-bottom: 1px solid #cacaca;
}

footer {
    background-color: #2e2e2e;
    color: white;
    padding: 60px 0px;
    width: 100%;
}

footer li {
    list-style: none;
    padding: 4px;
}